body {
    background-color: #181818;
    padding: 10px;
    /*
    display: flex;
    justify-content: center; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: Avenir;
    color: whitesmoke;
    text-align: center;
    padding: 2px 8px 2px 8px;
}

Section {
    background-color: #272727;
    color: whitesmoke;
    padding: 6px 6px 6px 6px;
    border-style: ridge;
    border-width: 3px;
    min-height: 180px;
    /* margin-left: 50%;
    transform: translateX(-50%); */
}

#extra-info-dropdown {
    font-family: Avenir;
    width: 80%;
    margin: auto;
    color: black;
    padding: 10px;
}

.tree-map-img {
    height: 100px;
}

/* .VirtualizedSelectFocusedOption {
    background-color: black;
} */


/* 
Div {
    display: inline;
} */

/* #title-container {
    width: 50%;
    padding: 10px;
    padding-right: 100px;
}

#extra-info-container {
    float: right;
    width: 40%
}

*/

#extra-info-text {
    padding-top: 12px;
    width: 90%;
    margin: auto;
}

/* #tabs {
    margin-top: 10px;    
} */
/*

#tabs-content {

}

*/

.graph {
    border-style: solid;
    border-width: 3px;
    border-color: whitesmoke
}

.image {
    border-style: solid;
    border-width: 3px;
    border-color: whitesmoke;
    height: 90%
}


/* .custom-tabs-container {
    vertical-align: top;
    background-color: green;
    margin: auto;
} */

.graph-container {
    background-color: pink;
    width: 95%;
    margin: auto;
}



.graph-tab {
    font-family: Avenir;
    color: whitesmoke;
    font-size: 24px;
    margin: 10px 0px 10px 0px;
}

#main-title {
    font-size: 36px;
    margin-top: 8px;
}

#subtitle {
    margin-top: 12px;
}

/* #deaths-table {
    float: left;
    vertical-align: top;
    padding: 50px 50px 50px 50px;
} */

#deaths-graph-container {
    float: right;
    vertical-align: top;
    padding: 50px 50px 50px 50px;
    border-width: 3px;
    border-color: black;
}



/* #extra-info-box {
    color: whitesmoke;
    text-align: center;

} */

/*
    Maintain 16:9 aspect ratio
    Referenced https://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css
*/

/* .graph-box { */
    /* margin: auto;
    padding: 10px;
    background: white; */
    /* box-sizing: border-box; */
    /* resize: horizontal; */
    /* max-width: 95%;
    height: calc(0.5625vw) */
    /* display: grid;
}

.graph-box > * {
    grid-area: 16/9;
} */



